{% extends "admin/base.html" %}

{% block content %}
<div class="card col-lg-8 offset-lg-2 col-md-12 mt-5">
    <div class="card-title">
        <h3 class="titulo-pagina m-3">Adicionar Cliente</h3>
    </div>
    <div class="card-body">
        <form method="post" class="form-cadastro">
            {% csrf_token %}
            {% for field in form %}
                <div class="px-2 py-2 col-md-12">
                    {% if field.errors %}
                    <div class="row alert alert-danger">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-3">{{ field.label_tag }}</div>
                        <div class="col-md-8">{{ field }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="row justify-content-center mt-4">
                <input class="btn btn-primary" type="submit" value="Enviar">
            </div>
        </form>
    </div>
</div>
{% endblock %}