{% extends 'admin/base.html' %}

{% block title %}SCMMA - Área do Administrador - Clientes{% endblock %}

{% block content %}
    <h1 class="m-2">Cadastro de Clientes</h1>
    <a class="btn btn-primary btn-sm mx-2 my-4" href="{% url 'adicionar_cliente' %}"><i class="fa-solid fa-plus"></i> Adicionar Cliente</a>
    <table class="table table-borderless my-2">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Removido</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in lista_clientes %}
                {% if cliente.tipo_usuario == 'Cliente' %}
                <tr>
                    <td>{{ cliente.get_full_name|default_if_none:'' }}</td>
                    <td>{{ cliente.email|default_if_none:'' }}</td>
                    <td>{% if cliente.is_active %}Não{% else %}Sim{% endif %}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{% url 'ver_cliente' cliente.pk %}"><i class="fa-solid fa-eye"></i></a>
                        <a class="btn btn-primary btn-sm" href="{% url 'editar_cliente' cliente.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        {% if cliente.is_active %}
                            <a class="btn btn-primary btn-sm btn-remover" href="{% url 'remover_cliente' cliente.pk %}">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        {% else %}
                            <a class="btn btn-primary btn-sm btn-remover" href="{% url 'reativar_cliente' cliente.pk %}">
                                <i class="fa-solid fa-rotate-left"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}