{% extends 'tecnico/base.html' %}

{% block title %}
    SCMMA - Área do Técnico - Atender Chamado
{% endblock %}

{% block content %}
<div class="card col-lg-8 offset-lg-2 col-md-12 mt-5">
    <div class="card-title">
        <h3>Atender Chamado</h3>
    </div>
    <div class="card-body">
        <p>Você deseja atender o chamado abaixo?</p>
        <table class="table table-hover">
            {% for campo, valor in chamado.campos %}
            <tr>
                <td>{{ campo }}</td>
                <td>{{ valor|default_if_none:'' }}</td>
            </tr>
            {% endfor %}
        </table>
        <form method="post" class="form-cadastro">
            {% csrf_token %}
            <div class="row justify-content-center mt-4">
                <input type="submit" class="btn btn-primary" value="Atender">
            </div>
        </form>
    </div>
</div>
{% endblock %}