{% extends 'tecnico/base.html' %}

{% block title %}
    SCMMA - Área do Técnico - Transferir Chamado
{% endblock %}

{% block content %}
<div class="card col-lg-8 offset-lg-2 col-md-12 mt-5">
    <div class="card-title">
        <h3>Transferir Chamado</h3>
    </div>
    <div class="card-body">
        <p>Você deseja transferir o chamado abaixo?</p>
        <table class="table table-hover">
            {% for campo, valor in chamado.campos %}
            <tr>
                <td>{{ campo }}</td>
                <td>{{ valor|default_if_none:'' }}</td>
            </tr>
            {% endfor %}
        </table>
        <form method="post" class="form-cadastro">
            {% csrf_token %}
            {% for field in form %}
                <div class="px-2 py-2 col-md-12">
                    {% if field.errors %}
                    <div class="row alert alert-danger">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-3">{{ field.label_tag }}</div>
                        <div class="col-md-8">{{ field }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="row justify-content-center mt-4">
                <input type="submit" class="btn btn-primary" value="Transferir">
            </div>
        </form>
    </div>
</div>
{% endblock %}