{% extends 'base.html' %}

{% block content %}
    <div class="card col-lg-8 offset-lg-2 col-md-12 mt-5">
        <div class="card-title">
            <h1>SCMMA</h1>
            <h2>Autenticação</h2>
        </div>
        <div class="card-body">
            {% if form.errors %}
            <div class="alert alert-danger m-1">
                {% for field, error in form.errors.items %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}
            <form method="post" class="form-login">
                {% csrf_token %}
                <div class="row justify-content-center mt-3">
                    <div class="col-lg-2">{{ form.email.label_tag }}</div>
                    <div class="col-lg-8">{{ form.email }}</div>
                </div>
                <div class="row justify-content-center my-2">
                    <div class="col-lg-2">{{ form.password.label_tag }}</div>
                    <div class="col-lg-8">
                        <div>{{ form.password }}</div>
                        <div><a href="{% url 'redefinir_senha' %}">Esqueci a senha</a></div>
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <input type="submit" class="btn btn-primary mb-2" value="Entrar">
                    <input type="hidden" name="next" value="{{ next }}">
                </div>
            </form>
        </div>
    </div>
{% endblock %}