form.form-login input {
    width: 300px;
}

form.form-login .btn {
    width: 100px;
}

form.form-cadastro input {
    width: 300px;
}

form.form-cadastro select {
    width: 300px;
}

form.form-cadastro textarea {
    width: 300px;
    resize: none;
}

form.form-cadastro .btn {
    width: 100px;
}


.card {
    border: 0;
    padding: 10px;
}

.card-title {
    text-align: center;
}

.errorlist {
    list-style: none;
}

.titulo-pagina {
    text-align: center;
}