{% extends "admin/base.html" %}

{% block content %}
    <h1 class="m-3">Editar Terminal</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="px-2 py-2 col-md-12">
                <div class="row">
                    {{ field.errors }}
                </div>
                <div class="row">
                    <div class="col-md-3">{{ field.label_tag }}</div>
                    <div class="col-md-9">{{ field }}</div>
                </div>
            </div>
        {% endfor %}
        <input class="btn btn-primary my-3" type="submit" value="Enviar">
    </form>
{% endblock %}