{% extends 'admin/base.html' %}

{% block content %}
<div class="card col-lg-8 offset-lg-2 col-md-12 mt-5">
    <div class="card-title">
        <h3>Terminal {{ terminal.numero_serie }}</h3>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            {% for campo, valor in terminal.get_fields %}
            <tr>
                <td>{{ campo }}</td>
                <td>{{ valor|default_if_none:'' }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}